
<div class="vigme-social-profile-row row"> 
		<%= image_tag profile.avatar.url %>

	<a class="vigme-social-name"><%= profile.name %></a>
</div>
<div class="vigme-social-product-group">
<% products.each do |product| %>
<div class="vigme-product-outline portfolio logo1 mix_all" data-cat="logo" style="display: inline-block; opacity: 1;"> 
  <a href="/products/<%= product.id %>?from_user=<%= profile.id %>">
                <div class="portfolio-wrapper vigme-product-social" style="background-image: url('<%= product.image_s3_url %>');">
                </div> </a>
              </div> 
  <% end %>
</div>

	