<p id="notice"><%= notice %></p>

<div class="vigme-product-header row">
	<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
		<h3 class="vigme-header-3">People Who Saved This</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-3 col-xs-offset-1 col-sm-offset-1">
	<% @product_shared_by.each do |user| %>
		<% if session[:user_id] != user.id %>
			<a href="<%= profile_path + "/" + user.id.to_s %>">
			<%= image_tag user.image, :class => "vigme-product-header-image" %>
			</a>
		<% end %>
	<% end %>	
	</div>
</div>
<div class="row">

	<div class="col-md-offset-2 col-md-8 vigme-line"></div>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-2">
	<p>
	 <h3 class="vigme-header-2"><%= @product.name %></h3>
	</p>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2 col-xs-offset-1 col-sm-offset-1 product-detail-padding">

 <img src="<%= @product.image_s3_url || "http://www.vigme.com/photos/" + @product.image_folder.to_s + "/" + @product.id.to_s %>" class="img-thumbnail" >
</div>
<% if session[:user_id] %>
<div class="vigme-button-div col-md-4 col-md-offset-0 col-xs-offset-1 col-sm-offset-1">
<a href="<%= @product.buy_url %>">
<button type="button" class="vigme-button btn btn-primary">Buy</button>
</a>

<%= button_to 'Save', {controller: 'products', action: 'share', :product => @product.id}, :method => :post, :class => 'vigme-button btn btn-primary', :remote => true, 'data-toggle' => 'modal', 'data-target' => '#list_modal' %>

<% else %>
<div class="vigme-button-div col-md-4">
<a href="/auth/facebook">
<button type="button" class="vigme-button btn btn-primary">Sign Up to Buy and Share!</button>
</a>


<% end %>

<div class="vigme-similar-products col-md-12">
	<%= render "shared/product_list_mini", products: @other_products_from_user %>
</div>

</div>

</div>

<div class="col-md-offset-2 col-md-8 vigme-line"></div>

<div class="row">
	<div class="col-md-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-2">
	<p>
	 <h3 class="vigme-header-3">People who liked this also liked</h3>
	</p>
</div>
</div>

<div class="row">
	<div id="product-list" class="col-md-10 col-md-offset-2">
	<%= render 'shared/product_list', products: @similar_products %>
	</div>
</div>

<a style="display: none"><%= button_to 'More', {:controller => "products", :action => "show", :more => 1}, id: 'more_products', :method => :get, remote: true %></a>