<p id="notice"><%= notice %></p>
<div class="row col-md-offset-2 product-detail-padding">
<p>
  <%= @product.name %>
</p>
 <img src="<%= @product.image_s3_url %>" class="img-thumbnail" >
<%= link_to 'Share', share_product_path(:id => @product.id), :method => :post %> |
<%= link_to 'Back', products_path %>

</div>