<div id="share_modal_body" class="row">
	<div class="col-md-offset-1">
		<h3 class="vigme-header-3"></h3>
		<%= form_for @list, remote: true, url: list_create_path do |f| %>
			<%= @list.errors.full_messages.first if @list.errors.any? %>

		  <p>
		    <%= f.label :title %><br>
		    <%= f.text_field :title, :class => "vigme-post-product-field" %>
		  </p>
		 
		  <p>
		    <%= f.submit 'Create List', :class => "btn btn-primary" %>
		  </p>
		<% end %>
	</div>
</div>
