<div class="vigme-profile-header row">
	<div class="col-md-offset-1 col-md-4">
<div><h3><%= @user_info.name %></h3></div>
<% if @user_info.image %>

<%= image_tag @user_info.image + "?type=large" %>
<% end %>

</div>

<div id="follow-button" class="col-md-6">
<%= render 'profile/follow_button', user_info: @user_info, :unfollow => @unfollow %>
</div>

	</div>
<div class="vigme-saved-products row">

<div id="product-list" class="col-md-5">
	<div class="row">
	<a class="col-md-offset-1 col-md-1"><h3>Saved Products </h3> </a>
</div>
<%= render 'shared/product_list_profile', products: @saved_products %>
</div>

<div class="col-md-5">
	<div class="row">
	<a class="col-md-offset-1 col-md-1"><h3>Added Products </h3> </a>
</div>
	<%= render 'shared/product_list_profile', products: @added_products %>

	</div>
</div>

