<div class="vigme-profile-header row">
	<div class="col-md-offset-1 col-md-10">
<div><h3><%= @user_info.name %></h3></div>
<% if @user_info.image %>
<div class="no-padding row vigme-profile-image">
	<div class="no-padding col-md-2">
		<%= image_tag @user_info.image + "?type=large" %>
	</div>
	   <div class="vigme-profile-header-container">
		<div class="col-md-4">
			About Me</br>
			<div>Description of stuff blah blah blah about me etc etc  </div>
		</div>
		<div class="col-md-1">
			Followers
			<h2><%= @followers %></h2>
		</div>
		<div class="col-md-1">
			Following
			<h2><%= @following %></h2>
		</div>
		<div class="col-md-2">
			<a style="text-align:center;">Vigor</a>
			<div class="row">
				<div class="vigme-vigor-profile-header col-md-6 no-padding">
	<%= render 'shared/vigor', rank: "gold" %>
				</div>
				<div class="col-md-6 no-padding">
					<% @vigor_array.each do |vigor| %>
					<%= render 'shared/vigor', rank: "bronze" %>
					<% end %>
				</div>
				
			</div>
		</div>
		<div class="vigme-profile-header-button col-md-2">
			<div id="follow-button" class="vigme-follow-button">
				<%= render 'profile/follow_button', user_info: @user_info, :unfollow => @unfollow %>
			</div>
		</div>
	  </div>

</div>
<% end %>

</div>

	</div>

<div class="vigme-saved-products row">

<div id="product-list" class="col-md-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-5">
	<div class="row">
	<a class="col-md-offset-1 col-md-10 col-sm-offset-1 col-xs-offset-1"><h3>Saved Products </h3> </a>
</div>
<%= render 'shared/product_list_profile', products: @saved_products %>
</div>

<div class="col-md-5">
	<div class="row">
	<a class="col-md-offset-1 col-md-10"><h3>Added Products </h3> </a>
</div>
	<%= render 'shared/product_list_profile', products: @added_products %>

	</div>
</div>

