<div class="vigme-profile-header row">
	<div class="col-md-offset-1 col-md-10 col-sm-10">
<div class="no-padding row vigme-profile-image">
	<div class="no-padding col-md-2 col-sm-2">
		<%= image_tag @user_info.avatar.url, :class => "vigme-profile-avatar" %>
	</div>
	   <div class="vigme-profile-header-container">
		<div class="vigme-profile-name-column col-md-4 col-sm-4">
			<div><h3><%= @user_info.name %></h3></div>

		</div>
		<a href="<%= profile_followers_path(@user_info.id) %>">
			<div id="followers" class="col-md-1 col-sm-2">
				Followers
				<h2><%= @followers %></h2>
			</div>
		</a>
		<a href="<%= profile_following_path(@user_info.id) %>">
			<div class="col-md-1 col-sm-2">
				Following
				<h2><%= @following %></h2>
			</div>
		</a>
		<% if user_signed_in? %>
			<div class="vigme-profile-header-button col-md-2">
				<%= render 'profile/follow_button', user_info: @user_info, :unfollow => @followed %>
		</div>
		<% end %>
	  </div>

</div>



</div>

	</div>

<div class="vigme-saved-products row">

<div id="product-list" class="vigme-shared-product-list col-md-offset-1 col-xs-offset-0 col-sm-offset-0 col-md-5">
	<div class="row">
	<a class="col-md-offset-1 col-md-10 col-sm-offset-0 col-xs-offset-0"><h3 class="vigme-header-3">Products </h3> </a>
</div>
<%= render 'shared/product_list_profile', products: @store_products %>
</div>

<div class="col-md-offset-1 col-md-4 no-padding">
<% @lists.zip(@products_for_each_list).each do |list, products| %>

	<%= render 'shared/product_list_lists', products: products, list: list %>

<% end %>
	</div>
</div>

