<!DOCTYPE html>
<html>
<head>
  <title>Vigme</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>

<body>
<header>
<%= render "layouts/header" %>
</header>
<p class="notice"><%= notice %></p>



<!--<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div> -->
<!--<%= render "layouts/sidebar" %> -->
<%= yield %>

<%= render "layouts/footer" %>
<%= render 'shared/share_modal', modal_id: "share_modal"%>
<%= render 'shared/list_modal', modal_id: "list_modal"%>
<%= render 'shared/signup_modal', modal_id: "signup_modal"%>
<%= render 'shared/product_detail_modal', modal_id: "product_detail_modal"%>

<script type="text/javascript">
  var vglnk = { key: '4e38052ea068842961938d180d3fbeaa' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = '//cdn.viglink.com/api/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));
</script>

</body>
</html>
